/* Carousel */

.carousel-wrap {
	position: relative;
}

.carousel {
	align-items: stretch;
	display: flex;
	flex-direction: row;
	overflow: auto;
	scroll-behavior: smooth;
	scrollbar-width: none;
	scroll-snap-type: x mandatory;
	width: 100%;
}

/* 45em */

.carousel-item {
	flex: 0 0 10.575em;
	padding: 0 var(--spacing-xs);
	scroll-snap-align: start;
	scroll-snap-stop: always;
}

.carousel-item:first-child {
	margin-left: 0;
}

.carousel-itemlast-child {
	margin-right: 0;
}

.carousel-arrow {
	background: var(--interactive);
	border: none;
	border-radius: 0.25em;
	color: #fff;
	cursor: pointer;
	font-size: 1rem;
	font-weight: 500;
	height: var(--text-body-line);
	padding: 0;
	position: absolute;
	text-align: center;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	width: var(--text-body-line);
}

.carousel-arrow:hover {
	background: var(--interactive-hover);
}

.carousel-arrow:active {
	background: var(--interactive-active);
}

.carousel-arrow.previous {
	left: calc(var(--spacing-l) * -1);
}

.carousel-arrow.next {
	right: calc(var(--spacing-l) * -1);
}
