/* Common Styles */

* {
	margin: 0;
	padding: 0;
}

abbr, article, aside, audio, bdi, canvas, data, datalist, details, dialog, figcaption, figure, footer, header, hgroup, main, mark, meter, nav, output, progress, section, summary, template, time, video, picture, img, iframe {
	display: block;
}

picture, img {
	border: none;
	height: auto;
	max-width: 100%;
	object-fit: cover;
	object-position: 50% 50%;
	width: auto;
}

iframe {
	border: none;
	margin: 0 auto;
	max-width: 100%;
}

/* Typography */

html {
	--interactive: #0092cb;
	--interactive-hover: #00a4e0;
	--interactive-active: #00739e;
	--text-body-font: Roboto, sans-serif;
	--text-body-line: 1.8em;
	--text-body-weight: 400;
	--text-heading-font: Roboto, sans-serif;
	--text-heading-weight: 700;
	--text-heading-line: 1.8em;
	--spacing-xxs: calc(var(--text-body-line) / 8);
	--spacing-xs: calc(var(--text-body-line) / 4);
	--spacing-s: calc(var(--text-body-line) / 2);
	--spacing-m: var(--text-body-line);
	--spacing-l: calc(var(--text-body-line) * 2);
	--spacing-xl: calc(var(--text-body-line) * 4);
	--spacing-xxl: calc(var(--text-body-line) * 8);
	font-family: var(--text-body-font);
	font-weight: var(--text-body-weight);
	font-size: 10px;
	font-size: 1vw;
	line-height: var(--text-body-line);
	min-height: 100%;
	overflow: auto;
	text-align:  left;
}

label, input, textarea, select, button, p, li {
	font-family: var(--text-body-font);
	font-weight: var(--text-body-weight);
	font-size: 1rem;
	line-height: var(--text-body-line);
}

ul, ol {
	margin-left: var(--spacing-l);
}

p, li {
	padding: var(--spacing-xs) 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--text-heading-font);
	font-weight: var(--text-heading-weight);
	line-height: var(--text-heading-line);
}

a {
	color: var(--interactive);
	text-decoration: underline;
}

a:hover {
	color: var(--interactive-hover);
	text-decoration: none;
}

a:active {
	color: var(--interactive-active);
}

strong {
	font-weight: 700;
}

blockquote > :first-child:before {
	content: open-quote;
}

blockquote > :last-child:after {
	content: close-quote;
}

/* Forms */

.field {
	padding: var(--spacing-xs) 0;
	position: relative;
	z-index: 2;
}

label, input, textarea, select {
	display: block;
	text-align: left;
}

label {
	padding: var(--spacing-xs) 0;
}

.optional-flag {
	font-size: 0.75em;
	font-style: italic;
}

input, textarea, select {
	background: none;
	border: 1px solid #999;
	border-radius: 0.25em;
	box-sizing: content-box;
	margin: 1px;
	padding: var(--spacing-xs) var(--spacing-s);
	width: calc(100% - 2px - var(--spacing-m));
}

input, select {
	line-height: normal;
	height: var(--text-body-line);
}

input:hover, textarea:hover, select:hover {
	border-color: #666;
}

input:focus, textarea:focus, select:focus {
	border-color: #39C;
	box-shadow: 0 0 0 0.3em rgba(0,0,0,0.1);
	border-width: 2px;
	margin: 0;
}


