
.question {
	background: #fff;
	border: 1px solid #DFE3E6;
	border-radius: 0.2em;
	color: #333;
	cursor: pointer;
	padding: var(--spacing-xs) var(--spacing-s) var(--spacing-xs) var(--text-body-line);
	position: relative;
}

.question:before {
	color: var(--interactive);
	content: '\203a';
	display: inline-block;
	font-size: 1.5em;
	left: 0;
	line-height: 1.1em;
	padding: 0 0 0.1em 0;
	position: absolute;
	top: 0.3em;
	text-align: center;
	transform-origin: 50% 50%;
	transition: all 0.1s linear;
	vertical-align: bottom;
	width: 1.2em;
}

.question-open:before {
	transform: rotate(90deg);
}

.question-open {
	border-radius: 0.2em 0.2em 0 0;
}

.question:hover, .faq .question-open {
	background: #f5f8fd;
	border-color: var(--interactive);
	color: var(--interactive);
}

.question:hover {
	background: #ecf3fc;
}

.answer {
	border: 1px solid transparent;
	border-radius: 0 0 0.2em 0.2em;
	border-top: none;
	color: #666;
	overflow: hidden;
	padding: 0 var(--spacing-s);
	transition: height 0.1s linear;
}

.question-open + .answer {
	border-color: var(--interactive);
	padding: 0 var(--spacing-s);
}

.answer + .question {
	margin-top: var(--spacing-xs);
}
