
.faq dt {
	background: #fff;
	border: 1px solid #DFE3E6;
	border-radius: 0.2em;
	color: #333;
	cursor: pointer;
	padding: 0.45em 0.675em 0.45em 1.8em;
	position: relative;
}

.faq dt:before {
	color: #0092cb;
	content: '\203a';
	display: inline-block;
	font-size: 1.5em;
	left: 0;
	line-height: 1.1em;
	padding: 0 0 0.1em 0;
	position: absolute;
	top: 0.3em;
	text-align: center;
	transform-origin: 50% 50%;
	transition: all 0.1s linear;
	vertical-align: bottom;
	width: 1.2em;
}

.faq dt.open:before {
	transform: rotate(90deg);
}

.faq dt.open {
	border-radius: 0.2em 0.2em 0 0;
}

.faq dt:hover, .faq dt.open {
	background: #f5f8fd;
	border-color: #0092cb;
	color: #0092cb;
}

.faq dt:hover {
	background: #ecf3fc;
}

.faq dd {
	border: 1px solid transparent;
	border-radius: 0 0 0.2em 0.2em;
	border-top: none;
	color: #666;
	overflow: hidden;
	padding: 0 0.675em;
	transition: height 0.1s linear, padding 0.1s linear;
}

.faq dt.open + dd {
	border-color: #0092cb;
	padding: 0.45em 0.675em;
}

.faq dd + dt {
	margin-top: 0.45em;
}
