
.field--toggle {
	overflow: hidden;
	position: relative;
}

.input--toggle, .label--toggle {
	cursor: pointer;
	display: inline-block;
	position: relative;
	vertical-align: bottom;
}

.input--toggle {
	opacity: 0;
	position: absolute;
	right: 100%;
}

.toggle-switch label {
	cursor: pointer;
	position: relative;
}

.label--toggle-0 {
	padding-right: calc(var(--spacing-m) + var(--spacing-s));
}

.label--toggle-1 {
	padding-left: calc(var(--spacing-m) + var(--spacing-s));
}

.label--toggle-0:after, .label--toggle-1:after {
	content: '';
	display: block;
	position: absolute;
	transition: all 0.1s linear;
}

.label--toggle-0:after {
	background: var(--interactive);
	border-radius: var(--spacing-s);
	box-shadow: inset 0 0 0 1px rgba(0,0,0,0.2);
	height: var(--spacing-m);
	right: calc(var(--spacing-m) * -1);
	top: var(--spacing-xs);
	width: var(--spacing-l);
}

.label--toggle-1:after {
	background: #efefef;
	border-radius: 50%;
	height: calc(var(--spacing-m) - 0.4em);
	left: calc((var(--spacing-m) * -1) + 0.25em);
	top: calc(var(--spacing-xs) + 0.2em);
	width: calc(var(--spacing-m) - 0.4em);
}

.input--toggle-1:checked ~ .label--toggle-1:after {
	left: 0.15em;
}

@media (prefers-reduced-motion: reduce){

	.label--toggle-0:after, .label--toggle-1:after {
		transition: none;
	}

}
