
.date-part, .date-input .date-separator {
	display: inline-block;
	vertical-align: bottom;
}

.sub-label {
	font-size: 0.75em;
	padding: 0;
}

.date-separator {
	margin: 0 0 var(--spacing-s) 0;
}

.day-select {
	width: 2.5em;
}

.month-select {
	width: 6.2em;
}

.year-select {
	width: 4em;
}
