
.field--toggle {
	overflow: hidden;
	position: relative;
}

.input--toggle, .label--toggle {
	display: inline-block;
	vertical-align: bottom;
}

.input--toggle {
	opacity: 0;
	position: absolute;
	right: 100%;
}

.toggle-switch label {
	cursor: pointer;
	position: relative;
}

.label--toggle-0 {
	padding-right: 2.25em;
}

.label--toggle-1 {
	padding-left: 2.25em;
}

.label--toggle-0:after, .label--toggle-1:after {
	content: '';
	display: block;
	position: absolute;
	transition: all 0.1s linear;
}

.label--toggle-0:after {
	background: var(--interactive);
	border-radius: 0.9em;
	display: block;
	height: var(--text-body-line);
	right: calc(var(--text-body-line) * -1);
	top: var(--spacing-xs);
	width: 3.6em;
}

.label--toggle-1:after {
	background-color: #f6f6f6;
	background-clip: padding-box;
	border: 0.2em solid transparent;
	border-radius: 0.9em;
	height: 1.4em;
	left: calc(var(--text-body-line) * -1);
	top: var(--spacing-xs);
	width: 1.4em;
}

.input--toggle-0:checked ~ label--toggle-1:after {
	background-color: #FFF;
	left: calc(var(--text-body-line) * -1);
}

.input--toggle-1:checked + label--toggle-1:after {
	left: 0;
}

