
textarea {
	height: 5.4em;
	max-width: calc(100% - 0.2em - var(--spacing-m));
	min-height: var(--text-body-line);
	min-width: calc(100% - 0.2em - var(--spacing-m));
	overflow: auto;
}

textarea:focus {
	max-width: calc(100% - 0.2em - var(--spacing-m));
	min-width: calc(100% - 0.2em - var(--spacing-m));
}
